.search-container {
    height : 15vh; 
    display: flex;
    justify-content: center;
    align-items : center;
}

.searchbox-container {
    //  font-size: 1vw;
     height: 4vh;
     width: 26vw;
}