.search-container {
    font-size: $title-font;
    height : 15vh; 
    display: flex;
    justify-content: center;
    align-items : center;
}

.searchbox-container {
     height: 4vh;
     width: 16vw;
}