.title-container {
    // font-size: 3vw;
    font-size: 9rem;
    font-family: 'Tangerine', cursive;
    font-style: oblique;
    height : 15vh; 
    display: flex;
    justify-content: center;
    align-items : center;
    color: $white;
    // text-decoration: underline;
    text-shadow: 2px 2px 5px #B61B33;
    background-size: contain;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    .title-container {
      font-size: 7rem;
    }
  }

  @media screen and (max-width: 600px) {
    .title-container {
      font-size: 5rem;
    }
  }

  @media screen and (orientation:landscape) and (max-height: 500px) {
    .title-container {
      font-size: 6rem;
      padding-top: 1rem;
    }
  }