.title-container {
    // font-size: $title-font;
    font-size: 3vw;
    height : 15vh; 
    display: flex;
    justify-content: center;
    align-items : center;
    color: $white;
    text-decoration: underline;
    text-shadow: 2px 2px 5px maroon;
    background-size: contain;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    .title-container {
      font-size: 5vw;
    }
  }