.cardview-container{
  transition: 0.3s;
   &:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   }
   border-radius: 8px;
   border-style: double;
   border-color: gray;
   margin: 3vh 3vh;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.cardimg-container{
    height: 25vh;
    width: 25vh;
}
.cardinfo-container {
    height:10vh;
    width:25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

@media screen and (max-width: 800px) {
  .cardinfo-container  {
    font-size: 12px;
  }
  .cardview-container{
    margin: 1vh 1vh;
  }
}

.info-style{
  margin: 1vh;
}

img {
  height: 30rem;
  max-width: 100%;
  vertical-align: middle;
  filter: contrast(90%);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 25rem) {
    width: 45%;
  }
  @media(min-width: 40rem) {
    width: 30%;
  }
  @media(min-width: 65rem) {
    width: 18%;
  }
}

.card {
  height: 40rem;
  width:30rem;
  background-color:white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .img {
      filter: contrast(110%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  height: 10rem;
}

.card__title {
  color: gray;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  overflow: scroll;
}
