.loader{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 700ms ease-in-out;
}

.ReactModal__Content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
    overflow:scroll;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.modelView{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.modelText{
    font-size: 2rem;
    color: #B61B33;
    margin-bottom: auto;
}
.close{
    height:1.5rem;
    width: 1.5rem;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #B61B33;
}
.imgHeaderLink{
    min-height: 10rem;
    height: 10rem;
    margin: 1rem;
    margin-bottom: auto;
}
.title{
    margin-bottom: auto;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2rem;
    color: #B61B33;
}
.imgLink{
    min-height: 5rem;
    height: 5rem;
    margin: 1rem;
    margin-bottom: 4rem;
}

@media screen and (max-width: 700px) {
    .ReactModal__Content{
        margin : 2rem
    }
    .imgHeaderLink{
        min-height: 6rem;
        height: 6rem;
    }
    .title{
        font-size: 1.5rem;
    }
    .modelText{
        font-size: 1.5rem;
    }

  }
  @media screen and (orientation:landscape) and (max-height: 500px) {
    .ReactModal__Content{
        min-height: 40vh;
        margin-top: auto;
        margin-bottom: auto;
    }
    .imgHeaderLink{
        min-height: 3rem;
        height: 3rem;
        margin: 1rem;
    }
    .title{
        font-size: 1rem;
    }
    .modelText{
        font-size: 1rem;
    }
    .imgLink{
        min-height: 3rem;
        height: 3rem;
        margin: 1rem;
    }
 }