.recipes-container {
    height : 100vh;
}

.recipesinner-container {
    background-color:$white;
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
}

@media screen and (max-width: 1000px) {
    .recipesinner-container {
        padding-left: 0rem;
    }
  }

@media screen and (max-width: 640px) {
    .recipesinner-container {
        justify-content: space-evenly;
    }
  }